
figure {
   background-color: #EDEDDD;
   border: 1pt solid #A8A8A8;
   padding: 5px;
   width: 150px;
   position:absolute;
   top:150;
   left:120;
}
figcaption{
  background-color: yellow;
  padding: 5px;
  position:absolute;
  top:100px;
  left:100px;
  z-index:1;
}
