
/* General text formatting */
 body {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
 font-size: 100%;
 background-color: lightblue;
 border: solid 1pt black;
 margim: 20px;

}

/* footer and header */
header, footer{background-color: #83BCB7;
padding:left 1em;
}
/* main article styling */
h1{
  font-size: 2em;
}
footer{

}
nav:hover{background-color: yellow;
}
a:hover{background-color: yellow;}
article{
  margin: 1em 1em 1em 2em;
}
h3{
  font-size: 1.25em;
}
article{border:solid 3pt black;
  border-width: 2pt;
  margin: 20px;
}
h2{background-color: white;
  font-size: 20pt;

  border:500pt;
  margin: 5px;

}



/* link styling */
