/* table styling */
table,body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 1em;
}
td, th {
   border: solid 1pt #949493 ;

}


/* footer and header */
header, footer {
  color: #111313;
}
h1 {
  font-size: 2rem;
  padding: 0.5em;
}
footer p{
  font-size: 1rem;
}
