
/* Using media query and flexbox to make a responsive design
This css styling will be enable for screens larger than 480px
*/
@media only screen and (min-width: 480px){
  body{
    background-color: red;
  }
}
@media only screen and (min-width:480px) and (min=width:600px){}

  h1, h2, h3 {
    font-family: Lobster, Cambria, "Times New Roman", serif;
  }
  nav li {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

nav ul {
  margin:0;
  padding: 0.5em;
}

nav li {
    list-style: none;
    margin: 0.4em;
    padding: 0.4em;
    border-radius: .5em;
    background: #3F51B5;
    color:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
}
nav li a:link, a:visited{
    color:white;
    text-decoration: node;

}
.menu li:hover {
  background-color: #0099cc;
}

/* Footer and Header */
header,footer {
   background: #1A237E;
   color: white;
   padding: 0.5em;
   flex-basis: 100%;

}

.media-body {
  padding: 0.5em;
}
/* right column */
aside {
   background: #9FA8DA;
    padding: .5em;
    margin: 0.4em;
    margin: 0.5em 0 0.5em 0;
    display: flex;
    flex-basis: 9em;
    flex-grow: 1;
    text-align: center;


}
/* middle column */
main {
   margin: 0.5em;
   background: white;
     flex: 1 0 16em;
}
.menu{
  margin: 0.5em 0 0.5em 0;
  flex-basis: 9em;
  flex-grow: 1;
}
