/* Name:  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* general text formatting */
h1, h2, h3, nav, footer {
 font-family: Lobster, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Open Sans", Verdana, Arial, sans-serif;
   font-size: 100%;

}
h1{
   font-size: 25px;
  padding: 3px 32px;
  color: white;
}
p{
  padding: 3px 32px;
}
fieldset,td{
  background-color: #FFC0CB;
  
}
h4{
   font-size: 15px;
  background-color:black;
    color: white;
    padding: 3px 32px;



}
header{
  background-color: #FF0000;
  color: white;
  padding: 3px 32px;

}
footer{
  background-color: #FF0000;
  color: white;
  padding: 3px 32px;
}
ul{
  background-color: #FF0000;
  color: white;
  border: 100px;
    padding: 3px 32px;
}
td{
  width: 500px;
  padding: 3px 32px;
  height: 200px;

}
h6{ background-color:#FF0000;padding: 10px 90px;}
input[type="Submit"]:hover{
  width:665px;
  height: 50px;

background-color:green;
}
h6{background-color: #FF0000;padding: 10px 90px;}
input[type="Reset"]:hover{
  border: 100px;
height: 50px;
background-color:green;
}

h4{
  margin-bottom:0px;
  border: 100px;
  height: 50px;
  padding: 3px 32px;

}


/* header styling */

/* footer styling */


/*  article styling */
