@media only screen and (min-width:480px){
  body{
    background-color: green;
  }
}

@media only screen and (min-width:480px) and (min=width:600px){}
body{
  background-image:url()
}
}
h1, h2, h3 {
  font-family: Lobster, Cambria, "Times New Roman", serif;
}


body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 100%;

}
nav li {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}
nav li a:link {
  color: #F48FB1;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

header {
  background: #1A237E;
  color: white;
  flex-basis: 100%;
}
footer {
  background: #1A237E;
  color: white;
  flex-basis: 100%;
}
nav {
  background: #3F51B5;
  color: white;
  flex-basis: 7em;

}
aside {
  background: #9FA8DA;
  margin: 0.5em 0 0.5em 0;
  flex-basis: 9em;
  flex-grow: 1;

}
/* add nested flexbox within main */
main {
  background-color: white;
  flex: 1 0 16em;
}
.media {
  display: flex;
  align-items: flex-start;
  margin: 0.5em;
}
.media-image {
  margin-right: 0.5em;
}
.media-body {
  padding: 0.25em;
}

/* add nested flexbox within aside */
aside h3 {
  text-align: center;
}
section img {
  max-width: 100%;
}

.browse div {
  margin: 0.25em;
}
