/*Styling*/
body {
     font-family: "Lucida Sans", Verdana, Arial, sans-serif;
     font-size: 1em;
     border-collapse: collapse;
}
header{color: black;
  background-color: #ffcccb;
}
header:hover{
  background-color:red;
  color: white;
}
header{

}
