/* Write your styling for Question 1 here */
.col-sm{
text-align: center;
display: inline;
padding: 10px;
}
.text-muted{
color: #777;
}
/* Styling the table */
*
{
        padding: 0;
        margin: 5px;
}
#main
{
        padding: 15vh;
        margin: auto;
        width: 70%;
}
#result
{
        border:1px solid;
        padding: 30px;
        margin: 0;
}
