@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

.imgdiv{
  display:inline-block;
 width:150px;
 height:150px;
 border:1px solid;
 margin: 1px 1px 1px 1px;
text-align: center
}
img{
  width:100px;
  height:100px;
}
.photos {
  width:150px;
  height:150px;

}
