/* table styling */
table,body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 1em;
   border-collapse: collapse;
}
td, th {
   border: solid 1pt #949493 ;
   text-align: left;
   padding: 8px;
}

th{
  background-color: pink;
  text-align: center;
  color: black;
}

tr:nth-child(even) {
  background-color: #dddddd;
  color: black;
}
tr:nth-child(odd) {
  background-color: white;
  color: black;
}
caption{
  border-collapse: collapse;
  text-align: left;

  background-color: red;
  width:100;
}

 table :hover {
  background-color:black;
  color: white;
}
/* footer and header */
header, footer {
  color: #111313;
}
h1 {
  font-size: 2rem;
  padding: 0.5em;
}
footer p{
  font-size: 1rem;
}
