/*  CSS inspired by http://codepen.io/alassetter/full/cyrfB/ */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #F5F5F5;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

header.title {
  margin: auto;
  max-width: 900px;
  padding:5px;
  width: 100%;
}
footer {
  margin: auto;
  max-width: 900px;
  padding:5px;
  width: 100%;
}


.title h1 {
   color: black;
   font-size: 26px;
   font-weight: 500;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 900px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
  color: white;
  background: #EF6C00;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:20px;
  font-weight: 400;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


tr:first-child {
  border-top:none;
}
tr:last-child {
  border-bottom:none;
}
tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

tr.totals td {
    background:#FFF3E0;
    text-align: right;
}

td.right {
  text-align: right;
}
td.center {
  text-align: center;
}

.focus td {
  color: #E65100;
  font-weight: 500;
}
