body{
  background-repeat: no-repeat;
  background-size: cover;
}

img{
  opacity: 0.5;
}

header,footer, h1 {
   background:  #940404;
   color: white;
   padding: 0.5em;
   font-family:Play fair display;
    font-style: italic;
   font-size: 35px;
   text-align: center;
}
form{
    background: rgb(65, 61, 61);;
    padding: 15px;
    color: white;
    font-family:Play fair display;
    font-style: italic;


}

legend{
  font-size: 30px;
}

.button1{
  font-size: 20px;
  padding: 14px 40px;
  background-color: #008CBA;
  color: white;
  border-radius: 8px;
}
