/* This file is for the styling of our project */

#logo {
  width: 150px;
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#top {
  background-image: url("popcorn.jpg");
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#search {
  padding-top: 200px;
  text-align: center;
  padding-bottom: 200px;
}

#find {
  border-radius: 2px;
  width: 500px;
  height: 35px;
  font-size: 15px;
}

#button {
  border-radius: 2px;
  font-size: 15px;
  height: 35px;
}

.popular {
  width: 325px;
  height: 450px;
  text-align: center;
  padding: 12px;
}

* {
  font-family: sans-serif;
}

header {
  border-bottom: solid;
  border-width: thin;
}

body {
  margin-left: 50px;
  margin-right: 50px;
  overflow: scroll;
}

li {
  display: inline;
  padding: 5px;
}

ul{
  position: absolute;
  right:50px;
}


a {
  color:black;
}

footer {
  position:absolute;
  padding-bottom: 0px;
}

h2 {
  border-top: solid;
  border-width: thin;
  padding-top: 20px;
}
