html{
    background-color: rgb(37, 35, 35);
}
/* .color{
    background-color: #663032;
    color: white;
} */
body {
    padding-top: 100px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
#navTable{
    width:100%;
}
#nav{
    /* background-color: #E50914; */
    background-color: #940404;
    color: white;
    /* width:"x%"; */
    /* table-layout: fixed; */
}
#logo{
    width: 250px;
    height:100px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin: 0 1.5%;
    width: 30%;
    float: left;
}
#movies {
    display: inline-block;
}
#content {
    float:right;
    margin: 0 1.5%;
    width: 70%;
    background-color: (37, 35, 35);
    color: white;
}
.black{
    background-color: rgb(65, 61, 61);
    color: white;
}
.search{
    align-items: center;
    width: 50%;
    /* display: inline-items; */
    /* flex-wrap: wrap; */
}
